<!DOCTYPE html>
<html>
  <head>
    <title>Weather App</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>

  <body>
    <div class="container">
      <h1>Weather App using NodeJS</h1>
      <form action="/weather" method="get">
        <input type="text" name="city" placeholder="Enter city name" />
        <button type="submit">Get Weather</button>
      </form>
       <% if (error) { %>
      <p class="error"><%= error %></p>
      <% } else if (weather) { %>
      <div class="card">
        <!-- Fahrenheit Temperature -->
        <p>
          <i class="fas fa-thermometer-half"></i>
          <%=weather.main.temp%>&deg;F
        </p>
        
        <!-- Celsius Conversion -->
        <p>
          <i class="fas fa-thermometer-half"></i>
          <%= ((weather.main.temp - 32) * (5/9)).toFixed(2) %>&deg;C
        </p>
        
        <!-- Weather Condition -->
        <p>
          <i class="fas fa-cloud"></i>
          <%=weather.weather[0].main%>
        </p>

        <!-- Location -->
        <p>
          <i class="fas fa-map-marker-alt"></i>
          <%=weather.name%>, <%=weather.sys.country%>
        </p>
      </div>
      <% } %>
    </div>

    <div class="social-links">
        <a href="https://linkedin.com/in/muhammedpatel007" target="_blank" class="social-link">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/muhammedp07" target="_blank" class="social-link">
          <i class="fab fa-github"></i>
        </a>
    </div>

  </body>
</html>
